{% if is_xhr() %}
{% block body %}{% end %}
{% else %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;" />
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="rating" content="General" />
    <meta name="author" content="Dr. Yes, spam at featureblend.com" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="10 days" />
    <meta name="description" content="{% block description %}{{ _("search, lightweight search, keyboard search, fast search") }}{% end %}" />
    <meta name="keywords" content="{% block keywords %}{{ _("A blazingly fast web search with arrow key bindings") }}{% end %}" />
    <title>blaze&gt;{% block title %}{% end %}</title>
    <style type="text/css">
    {% apply cssmin %}
        {% include "base.css" %}
        {% block css %}{% end %}
    {% end %}
    </style>
</head>
<body class="{{ handler_name }}">
{% block body %}{% end %}
<script type="text/javascript">
{% apply jsmin %}
    {% include "base.js" %} 
    {% block js %}{% end %}
{% end %}
</script>
</body>
</html>
{% end %}