body, div, input, select, textarea, label {
    font-family:Consolas, Monaco, Courier New, monospace;
    font-size:12px;
    color:#333;
}
body, div, form {
    margin:0px;
    padding:0px;
}
body {
    background-color:#FFF;
}
h1, h2, h3, h4, h5, h6 {
    display:inline;
    margin:0px;
    padding:0px;
}
img {
    border:0px;
}
td {
    vertical-align:top;   
}
th {
    font-weight:normal;   
}
em {
    font-style:normal;    
}
ul, ol {
    margin:0px;
    padding:0px;
    list-style:none;
}