{% extends "../base.html" %}

{% block title %}{{ _("search") }}{% end %}

{% block css %}
    <style type="text/css">
    body, div, input, select, textarea, label {
      font-family:Consolas, Monaco, Courier New, monospace;
      font-size:12px;
      color:#333;
    }
    body, div, form {
      margin:0px;
      padding:0px;
    }
    body {
      background-color:#FFF;
      text-align:center;
      padding-top:127px;
      background:url({{ static_url("img/smoke.png") }}) no-repeat 0px 0px;      
    }
    h1, h2, h3, h4, h5, h6 {
      display:inline;
      margin:0px;
      padding:0px;
      font-weight:normal;
    }
    img {
      border:0px;
    }
    td {
      vertical-align:top;   
    }
    th {
      font-weight:normal;   
    }
    em {
      font-style:normal;    
    }
    ul, ol {
      margin:0px;
      padding:0px;
      list-style:none;
    }
    .s {
      font-family:Consolas,Monaco,Courier New,monospace;
      color:#333333;
      border-style:solid;
      border-width:1px;
      border-color:#CCC;
      font-size:14px;
      width:80%;
      padding:4px;
    }
    .splunk-logo { 
      display:block;
      background:url({{ static_url("img/splunkpowered.png") }}) no-repeat 0px 0px;
      width:175px;
      height:57px;
      position:absolute;
      top:35px;
      left:330px;
      text-indent:-5000px;
    }
    .f a {
        color:#CCC;
        text-decoration:none;
    }
   /* BEGIN: default event decorator styles */
    .events {
        padding:0px 12px 12px 12px;
        text-align:left;
    }
    .events .default {
        zoom:1;
        display:block;
        margin-bottom:0px;
        padding:8px 0px 8px 0px;
        border-bottom:1px dotted #EEDDDD;  
    }
    .events .default:hover {
        /* nothing */
    }
    .events .default td {
        text-align:left;
    }
    .events .default .col1 {
        padding-right:8px;
        min-width:18px;
        vertical-align:top; 
    }
    .events .default .col2 {
        padding-top:2px;
        padding-right:8px;
        padding-left:22px;
        vertical-align:top;
        /*single line*/
        white-space: nowrap;
    }
    .events .default .col3 {
        padding-top:2px;
        vertical-align:top;
    }
    .events .default .t, .events .default .fields .v, .events .default .fields .tg, .events .default .time {
        font-style:normal;
    }
    .events .default .time {
        color:#666;
    }
    .events .default .time, .events .default .event {
        font-family:Consolas, Monaco, Courier New, monospace;
        font-size:12px;
    }
    .events .default .event {
        margin:0px 0px 0px 0px;
        zoom:1;
        color:#333;
    }
    .events .default .event {
        word-wrap:break-word; /* IE 5.5-7 */
        white-space:-moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space:pre-wrap; /* current browsers */
        ?white-space:normal;
    }
    .events .default .fields {
        margin:0px;
        padding:0px;
        list-style:none;
    }
    .events .default .fields li {
        padding:0px;
        margin:0px;
        display:inline;
    }
    .events .default .fields .fm {
        text-decoration:none;
        text-indent:-5000px;
        width:13px;
        height:12px;
        /* BEGIN: FF2 inline block text-indent fixes. (negative text-indent only works on block level elements) */
        display:-moz-inline-box;
        overflow:hidden;
        font-size:1px;
        vertical-align:text-top;
        /* END: FF2 inline block text-indent fixes. */
        vertical-align:middle;
        display:inline-block;
    }
    .events .default .actions {
        padding:3px;
        opacity:.8;
    }
    .events .default:hover .actions {
        opacity:1;
    }
    .EventsViewerLoading {
        opacity:.5;
    }
    .events .default .a, .events .default .fields .v:hover, .events .default .fields .tg:hover {
        background-color:#3f3f3f;
        color:#fff;        
    }
    .events .default .h {
        background-color:#F5E998;
        color:#333;
    }
    /* END: default event decorator styles */     
    </style>
{% end %}

{% block js %}
    <script type="text/javascript">
    (   
        function(){
            /** 
             * libsr4kids!
             */
            var oneshotXHR = null;
            var d = document;
            var input = document.forms[0].elements['s'];
            var cache;
            var oneshotQueue = false;
            var oneshotTimeout = 2000;
            var xsrf = xsrfExtract();
            var keyCodeBindings = {
                "left":37,
                "right":39,
                "up":38,
                "down":40,
                "enter":13        
            };
            var termSelectFormat = ' "%s"';
            var freeRangeSelectFormat = ' "*%s*"';
            /**
             * Artificial XHR life.
             */            
            if(typeof(XMLHttpRequest)==="undefined"){
                XMLHttpRequest = function() {
                    try{return new ActiveXObject("Msxml2.XMLHTTP.6.0");}catch(e){}
                    try{return new ActiveXObject("Msxml2.XMLHTTP.3.0");}catch(e){}
                    try{return new ActiveXObject("Msxml2.XMLHTTP");}catch(e){}
                    try{return new ActiveXObject("Microsoft.XMLHTTP");}catch(e){}
                    throw new Error("This browser does not support XMLHttpRequest.");
                };
            }            
            updateCache();
            setInterval(updateCache, {{ search_browser_cache_ttl }});
            input.focus();
            /**
             * Updates the cache member value used in managing expiry of every search get request.
             */
            function updateCache(){
                cache = cache = (new Date()).getTime().toString(36);
            }
            /**
             * Convenience method for extracting the XSRF value used for POST, PUT or DELETE.
             * TODO: Multitype returns are bad design.
             * @return {String||undefined}
             */            
            function xsrfExtract() {
                var name = "_xsrf";
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            }
            /**
             * Because innerHTML is sometimes not fast enough.
             * @param {Object} target DOM element target for innerHTML replacement.
             * @param {String} innerHTML The HTML to inject.
             * @return {Object} The target DOM element. WARNING! Could be a new cloned element.
             */            
            function turboInnerHTML(target, innerHTML) {
                /*@cc_on //innerHTML is faster for IE
                    target.innerHTML = innerHTML;
                    return target;
                @*/
                var targetClone = target.cloneNode(false);
                targetClone.innerHTML = innerHTML;
                target.parentNode.replaceChild(targetClone, target);
                return targetClone;
            }
            /**
             * Razor thin event normalizer for adding event listeners.
             * @param {Object} obj TBD.
             * @param {String} event TBD.
             * @param {Function} callback TBD.
             */                     
            function ezEventListener(obj, event, callback, scope){
                if(window.addEventListener){
                   obj.addEventListener(
                        event, 
                        function(evt){
                           callback(evt, evt.target);
                        },
                       false
                   );
               }else if(window.attachEvent){
                    obj.attachEvent(
                        "on"+event,
                        function(){
                            callback(window.event, window.event.srcElement);
                        }
                    );
                }
            }
            /**
             * Remove leading/trailing whitespace.
             * @param {String} str The string to perform the trim opration on.
             * @return {String} The trim formatted string.
             */
            function trimString(str){
                return (str.trim)?str.trim():str.replace(/^\s*(\S*(\s+\S+)*)\s*$/, "$1");
            }
            /**
             * Text selection abstraction. No IE support right now, sorry!
             */
            function Selection(){
                var self = this;
                self.obj;
                self.getRangeAt = function(index){
                    if(self.obj.getRangeAt){
                        return self.obj.getRangeAt(index);
                    }else{
                        return false;
                    }
                }
                self.Selection = function(){
                    if(window.getSelection){
                        self.obj = window.getSelection();
                    }else if(document.selection){
                        self.obj = document.selection.createRange();
                    }
                }();
            }
            /**
             * Dispatches and updates page content based on a highly tuned oneshot search. 
             * Single request channel throttled.
             */
            function oneshot(){
                if(oneshotXHR){
                    oneshotQueue = true;
                    return;
                }
                oneshotXHR = new XMLHttpRequest();
                oneshotXHR.open("GET", "/search/new?"+oneshotInputSearch(), true);
                var xhrTimeout = setTimeout(function(){
                    oneshotXHR.onreadystatechange = function(){};
                    oneshotXHR.abort();
                    oneshotXHR = null;
                    if(oneshotQueue){
                        oneshotQueue = false;
                        oneshot();
                    }
                }, oneshotTimeout);
                oneshotXHR.onreadystatechange = function(){
                    if(oneshotXHR.readyState===4){
                        clearTimeout(xhrTimeout);
                        if(oneshotXHR.status==200){
                            turboInnerHTML(d.getElementById("r"), oneshotXHR.responseText);
                            var items = getEvents();
                            if(items.length>0){
                                selectEvent(items[0]);
                            }
                        }else{
                            turboInnerHTML(d.getElementById("r"), "&nbsp;");
                        }
                        oneshotXHR = null;
                        if(oneshotQueue){
                            oneshotQueue = false;
                            oneshot();
                        }
                    }
                }
                oneshotXHR.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                oneshotXHR.send("");//empty arg for FF <3.5
            }
            /**
             * Generates a oneshot optimized search string based on the current state of the input element. Includes intelligent cache buster.
             * @return {String} The delicious string.
             */
            function oneshotInputSearch(){
                 var search = trimString(input.value);
                 var sid = document.getElementById("sid");
                 var sidParam = "";
                 if(sid){
                     sidParam = "&sid="+encodeURIComponent(sid.value);
                 }
                 if(search.length==0){
                     search = " ";
                 }
                 return "search="+encodeURIComponent(search)+"&c="+encodeURIComponent(cache)+sidParam;
            }
            /**
             * Key code normalizer.
             * @param {Object} evt A DOM event.
             * @return {Number}
             */
            function getKeyCode(evt){
                return (evt.which)?evt.which:evt.keyCode;
            }
            /**
             * Checks if an element has a specified class or not.
             * @param {Object} el The target element.
             * @param {String} cl The class name to check against.
             * @return {Boolean}
             */
            function hasClass(el, cl) {
                 return el.className.match(new RegExp('(\\s|^)'+cl+'(\\s|$)'));
            }
            /** 
             * Safely adds an additional class to an element if it does not exist already. Caution this is an element MUTATOR!
             */
            function addClass(el ,cl) {
                 if(!hasClass(el, cl)) el.className += " "+ cl;
            }
            /**
             * Safely removes a class from an element.
             * @param {Object} el The target element.
             * @param {String} cl The class name to check against.
             */
            function removeClass(el, cl) {
                 if(hasClass(el, cl)){
                     var reg = new RegExp('(\\s|^)'+cl+'(\\s|$)');
                     el.className = el.className.replace(reg,' ');
                 }
            }
            /**
             * Top level event dispatcher. Centralizing DOM event observers allows for more tuning and ease of management.
             * @param {Object} evt DOM event reference.
             * @param {Object} target A normalized event target.
             */
            function dispatcher(evt, target){
                 var type = evt.type;
                 if(type=="keydown" && (navigator.appVersion && navigator.appVersion.indexOf("Safari")!=-1) || type=="keypress" && !(navigator.appVersion && navigator.appVersion.indexOf("Safari")!=-1)){
                     keyboardNavigate(evt, target);
                 }else if(type=="keyup"){
                     keyboardOneshot(evt, target);
                 }
            }
            /**
             * Enables the ability to navigate the document using keyboard bindings.
             * TODO: Push more event related switching to dispatcher.
             * @param {Object} evt DOM event reference.
             * @param {Object} target A normalized event target.             
             */
            function keyboardNavigate(evt, target){
                var keyCode = getKeyCode(evt);
                if(keyCode==keyCodeBindings.up || keyCode==keyCodeBindings.down){
                    var items = getEvents();
                    if(items.length==0){
                        return;
                    }
                    var activeIndex = -1;
                    for(var i=0; i<items.length; i++){
                        if(items[i].active){
                            items[i].active = false;
                            items[i].style.background = "";
                            activeIndex  = i;
                            break;
                        }
                    }
                    if(activeIndex>-1){
                        resetTerms(items[activeIndex]);
                    }
                    if(keyCode==keyCodeBindings.up){
                        if(activeIndex>0){
                            var el = items[activeIndex-1];
                        }else{
                            var el = items[items.length-1];
                        }
                        selectEvent(el);
                    }else if(keyCode==keyCodeBindings.down){
                        if(activeIndex>-1 && activeIndex<items.length-1){
                            var el = items[activeIndex+1];
                        }else{
                            var el = items[0];
                        }
                        selectEvent(el);
                    }
                }
                if(keyCode==keyCodeBindings.left || keyCode==keyCodeBindings.right){
                    var items = getEvents();
                    if(items.length==0){
                        return;
                    }
                    var activeIndex = -1;
                    for(var i=0; i<items.length; i++){
                        if(items[i].active){
                            activeIndex  = i;
                            break;
                        }
                    }
                    if(activeIndex==-1){
                        return;
                    }
                    var terms = getTerms(items[activeIndex]);
                    var activeTermIndex = -1;
                    for(var i=0; i<terms.length; i++){
                        if(terms[i].active){
                            terms[i].active = false;
                            removeClass(terms[i], "h");
                            activeTermIndex  = i;
                            break;
                        }
                    }
                    if(keyCode==keyCodeBindings.left){
                        if(activeTermIndex>0){
                            var el = terms[activeTermIndex-1];
                            if(hasClass(el, "time")){//disable time selection
                                el = terms[((activeTermIndex-2>0)?activeTermIndex-2:terms.length-1)];
                            }
                        }else{
                            var el = terms[terms.length-1];
                        }
                        addClass(el, "h");
                        el.active = true;                                                
                    }else if(keyCode==keyCodeBindings.right){
                        if(activeTermIndex>-1 && activeTermIndex<terms.length-1){
                            var el = terms[activeTermIndex+1];
                        }else{
                            var el = terms[0];
                            if(hasClass(el, "time")){//disable time selection
                                el = terms[1];
                            }
                        }
                        addClass(el, "h");
                        el.active = true;
                    }
                }
            }
            /**
             * Keyboard oneshot search handing.
             * TODO: Push more event related switching to dispatcher.
             * @param {Object} evt DOM event reference.
             * @param {Object} target A normalized event target.             
             */ 
            function keyboardOneshot(evt, target){
                var keyCode = getKeyCode(evt);
                if(keyCode==keyCodeBindings.enter){
                    var str = "";
                    var selectObj = new Selection();
                    try{
                        var str = selectObj.getRangeAt(0).toString();
                    }catch(err){}
                    if(str.length>0){
                        input.value = input.value + freeRangeSelectFormat.replace("%s", str);
                        oneshot();
                        return;
                    }
                    var items = getEvents();
                    var activeIndex = -1;
                    for(var i=0; i<items.length; i++){
                        if(items[i].active){
                            activeIndex  = i;
                            break;
                        }
                    }
                    if(activeIndex==-1){
                        return;
                    }
                    var terms = getTerms(items[activeIndex]);
                    var activeTermIndex = -1;
                    for(var i=0; i<terms.length; i++){
                        if(terms[i].active){
                            activeTermIndex  = i;
                            break;
                        }
                    }
                    if(activeTermIndex==-1){
                        return;
                    }
                    var str = (terms[activeTermIndex].textContent)?terms[activeTermIndex].textContent:terms[activeTermIndex].innerText;
                    input.value = input.value + termSelectFormat.replace("%s", str);
                    oneshot();                                            
                }
                if(keyCode!=keyCodeBindings.left && keyCode!=keyCodeBindings.right && keyCode!=keyCodeBindings.up && keyCode!=keyCodeBindings.down){
                    oneshot();
                }
            }
            function gc(){
                if(document.getElementById("sid")){
                    var inputValue = input.value;
                    input.value = "|";
                    oneshot();
                    input.value = inputValue;
                    
                }
            }
            //TODO: Clean me....
            function selectEvent(el){
                el.active = true;
                el.style.background = "url({{ static_url("img/arrow.png") }}) no-repeat 0px 7px";
            }
            function getEvents(){
                return d.getElementById("r").getElementsByTagName("li");
            }
            function getTerms(parent){
                return parent.getElementsByTagName("em");
            }
            function resetTerms(parent){
                var terms = getTerms(parent);
                for(var i=0; i<terms.length; i++){
                    if(terms[i].active){
                        terms[i].active = false;
                        removeClass(terms[i], "h");
                        break;
                    }
                }                
            }
            ezEventListener(document, "keydown", dispatcher);
            ezEventListener(document, "keypress", dispatcher);
            ezEventListener(document, "keyup", dispatcher);
            ezEventListener(window, "unload", gc);
        }
    )();
    </script>
{% end %}

{% block body %}
    <a href="http://www.splunk.com" class="splunk-logo">splunk</a>
    <form action="/search/new" method="get" onsubmit="return false;">
      {{ xsrf_form_html() }}
      <input type="text" name="s" value="" autocomplete="off" class="s" />
    </form>
    <div id="r"></div>
    <p class="f"><a href="http://www.featureblend.com">Live to code, code to live...</a></p>
{% end %}
