{% extends "../base.html" %}

{% block title %}{{ _("search") }}{% end %}

{% block css %}
    {% include "index.css" %}
    {% include "../search/index.css" %}
{% end %}

{% block js %}
    {% include "index.js" %}
{% end %}

{% block body %}
    <form action="/search/new" method="get" onsubmit="return false;">
      {{ xsrf_form_html() }}
      <div id="loader"></div>
      <input type="image" src="{{ static_url("img/clear.png") }}" alt="Clear the search input and results" title="ESC works too!" id="clear" />
      <input type="text" name="s" value="" autocomplete="off" class="s" />
    </form>
    <div id="r" class="search">&nbsp;</div>
    <p class="f"><a href="http://www.featureblend.com">Live to code, code to live...</a></p>
{% end %}